body{
	color:white;
	text-align: center;
}
#mainHeader, #subHeader, #timeKeeper{
	color:white;
}
#mainHeader{
	font-size:3em;
}
#subHeader{
	font-size:2em;
}
#timeKeeper{
	font-size:8em;
	margin-top:1em;
}
#inputText{
	border:none;
	border-bottom:2px solid white;
	background-color:transparent;
	text-align: center;
	font-size: 2em;
	width:34%;
	margin:1em 33% 1em 33%;
}
#inputText:focus{
  outline:none;
}
#inputButton{
	transition:font-size 1.2s linear;
	font-size:1.2em;
	color:black;
	width:20%;
	padding:8px;
	border:1px solid grey;
	background-color:white;
	opacity:0.6;
}
#inputButton:hover{
	opacity:1.0;
	font-size:1.5em;
}
@media only screen and (max-device-width:600px){
	#inputButton{
		width:40%;
		font-size:1.5em;
		opacity:0.9;
	}
	#inputText{
		width:60%;
		margin-left:20%;
		margin-right: 20%;
	}
}
