body{
  color:white;
  text-align: center;
}
#mainHeader, #subHeader, #timeKeeper{
	color:white;
}
#mainHeader{
	font-size:3em;
}
#subHeader{
	font-size:2em;
}
#timeKeeper{
	font-size:8em;
	margin-top:1em;
}
#inputText{
  border:none;
  border-bottom:2px solid white;
  background-color:transparent;
  text-align: center;
  font-size: 2em;
  width:34%;
  margin-left:33%;
  margin-right: 33%;
  margin-top:1em;
}
#inputText:focus{
  outline:none;
}
#inputButton{
	transition:font-size 1.2s linear;
	font-size:1.2em;
	color:black;
	width:20%;
	padding:8px;
	border:1px solid grey;
	background-color:white;
	opacity:0.6;
}
#inputButton:hover{
	opacity:1.0;
	font-size:1.5em;
}
